* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: white;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-color:#0b0b0b;
}